@mixin primaryButton($bg, $font-color, $hover-color) {
  min-width: 7rem;
  height: 3rem;
  padding: 10px 28px;
  border-radius: 40px;

  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.8px;

  background-color: $bg;
  color: $font-color;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
