// Global variables
$primary-bg: #fdf7f2;
$accent-color: #ff6101;

// button styles
$primary-btn-bgcolor: #f59256;
$secondary-btn-bgcolor: #ffffff;
$primary-btn-font-color: #ffffff;
$secondary-btn-font-color: #f59256;
$dark-btn-font-color: #111111;
$btn-font-size: 1;

// icons size variables
$micro-icon: 16;
$sm-icon: 18;
$md-icon: 24;
$lg-icon: 28;
$macro-icon: 32;

// text variables
$primary-dark-text-color: #111111;
$secondary-dark-text-color: #111321;
$placeholder-text-color: #535353;
$light-text-color: #ffffff;
$tb-primary-text-size: 1.25rem;
$mb-primary-text-size: 1rem;
$mb-subtitle-text-size: 1.5rem;
$tb-subtitle-text-size: 3rem;

//card variables
$card-bg: #ffffff;

// transition variables
$transition: 0.3s all ease-in-out;

$gap: 2rem;
