// Global variables
$base-bg: #fdf7f2;

// button styles
$primary-btn-color: #f59256;
$secondary-btn-color: #ffffff;
$dark-btn-color: #111111;

// text variables
$primary-dark-text-color: #111111;
$secondary-dark-text-color: #111321;
$placeholder-text-color: #535353;
$light-text-color: #ffffff;

//card variables
$card-bg: #ffffff;
