@use "../../styles/variables";

.page_title {
  font-size: variables.$mb-subtitle-text-size * 1rem;
  color: variables.$primary-dark-text-color;

  @media screen and (min-width: 768px) {
    font-size: variables.$tb-subtitle-text-size * 1rem;
  }
}
