@use "../../styles//variables";

.image_box {
  width: 116px;
  height: 116px;
  margin-bottom: 28px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.avatar {
  border-radius: 20px;
}

.fieldset {
  border: none;
  margin-bottom: 28px;
}

.label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
}

.img_field {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.image_label {
  width: 116px;
  height: 116px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: rgb(253, 247, 242);
  font-size: 32px;
  transition: variables.$transition;

  &:hover,
  &:focus {
    border: 2px solid variables.$accent-color;
    color: variables.$accent-color;
  }
}
