@use "../../styles/_variables.scss";

.wrapper {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 608px;
    padding: 60px 80px 40px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.11) 7px 4px 14px;
  }

  @media screen and (min-width: 1200px) {
    width: 618px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 100%;
  }
}

.form_title {
  margin-bottom: 40px;
  text-align: center;
}

.box {
  margin-bottom: 40px;
}

.auth_field {
  width: 100%;
  min-width: 280px;
  height: 40px;
  padding: 9px 12px;

  border-radius: 40px;
  border: none;
  font-size: 16px;
  border: 2px solid variables.$primary-btn-bgcolor;
  transition: variables.$transition;

  &:hover,
  &:focus {
    border: 2px solid variables.$accent-color;
  }

  @media screen and (min-width: 768px) {
    padding: 9px 12px 9px 20px;
  }
}

.auth_field + .auth_field {
  margin-top: 16px;
}

.form_title,
.redirect_link {
  text-transform: capitalize;
}

.text {
  display: inline-flex;
  margin-top: 40px;
  color: #111111;
}

.redirect_link {
  margin-left: 2px;
  color: #3091eb;
  text-decoration: underline;
}
