@use "../../styles/_variables.scss";

.hero_section {
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 64px;

  background-image: url("../../../public/images/mb-hero-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  @media screen and (min-width: 768px) {
    background-position: right bottom;
    padding-top: 92px;
    background-image: url("../../../public/images/tb-hero-bg-img.png");
  }

  @media screen and (min-width: 1200px) {
    background-size: contain;
    background-image: url("../../../public/images/dt-hero-bg-img.png");
  }
}

.title {
  font-size: 2rem;
  color: variables.$primary-dark-text-color;

  @media screen and (min-width: 768px) {
    font-size: 4.25rem;
  }

  @media screen and (min-width: 991px) {
    display: inline-block;
    width: 40%;
    font-size: 4.25rem;
  }
}
