@use "../../styles/variables";
@use "../../styles/mixins";

.button {
  @include mixins.primaryButton(
    variables.$primary-btn-color,
    variables.$light-text-color,
    variables.$accent-color
  );

  border: none;
  transition: variables.$transition;
}

.button .active {
  border: 1px solid red;
  background-color: variables.$accent-color;
}
