@use "../../styles/_variables.scss";

.avatar_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.edit_photo_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: inherit;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    color: variables.$secondary-btn-font-color;
    transition: variables.$transition;
  }

  &:hover,
  &:focus {
    svg {
      color: variables.$accent-color;
    }
  }
}
