@use "../../styles/_variables.scss";

.form {
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.avatar_input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.edit_photo_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background-color: inherit;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    color: variables.$secondary-btn-font-color;
    transition: variables.$transition;
  }

  &:hover,
  &:focus {
    svg {
      color: variables.$accent-color;
    }
  }
}
