@use "../../styles//variables";

.label {
  &::after {
    content: "*";
    color: variables.$secondary-btn-font-color;
  }
}

.image_label {
  width: 116px;
  height: 116px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(253, 247, 242);
}

.male_label {
  background-image: "../sex-male.png";
}

.img_field {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
